* {
	margin: 0;
	padding: 0;
}

.wrap-canvas {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.canvas {
	border: 1px solid #FA3B1D;
}

.button {
	margin-top: 15px;
	padding: 8px 12px;
}